#sprint-view {
    .board-background-color{
        background-color: rgba(192,192,192,0) !important;
    }
    .complete-sprint {
        width: 100%;
        display: inline-block;
    }
    .sprint-name {
        display: inline-block;
    }
    .smooth-dnd-draggable-wrapper {
        article {
            max-width: unset;
        }
    }
}