#issue-view {
    .m-b-5 {
        margin: 5px;
    }
    .m-b-1{
        margin: 1px;
    }
    .description{
        width: 100%;
        height: 200px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #dddddd;
        padding: 10px;
    }
    .color-black {
        color: #172b4d;
    }
    .pd-0{
        padding: 0px;
    }
    .m-b-0{
        margin-bottom: 0px;
    }
    .summary{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 50px;
    }
    .p-r-0{
        padding-right: 0px;
    }
    .p-l-0{
        padding-left: 0px;
    }
    .m-l-m15{
        margin-left: -15px;
    }
    .scroll-detail{
        overflow: auto;
        max-height: 415px;
    }
    .email{
        cursor: pointer;
    }
    .img-activity{
        width: 20px !important;
        height: auto !important;
        float: left !important;
    }
    .comments-conf{
        background: transparent;
    }
    .box-comment-conf:hover{
    }
    .top-0{
        top: 0px;
    }
    .pointer{
        cursor: pointer;
    }
    .auto-uppercase {
        text-transform: uppercase !important;
    }
    .hide-detail {
        visibility: hidden;
    }
    .detail-visibility {
        visibility: visible;
    }
}
#issue-page-multi-select {
    .select__control {
        border-style: unset;
        .select__multi-value {
            background-color: unset;
        }
        &:hover {
            background-color: #dfe0e6;
        }
        .select__indicator-separator {
            display: none;
        }
        .select__dropdown-indicator {
            display: none;
        }
    }
}