#version-view {
    // .color-green {
    //     color: #01875a;
    //   }
      
    //   .color-blue {
    //     color: #0053cc;
    //   }
      
    //   .color-grey {
    //     color: #dfe0e6;
    //   }
    .iZjHKc {
        margin: 48px auto;
        text-align: center;
        max-width: 464px;
    }
    .efswFn {
        max-width: 160px;
        max-height: 160px;
        width: auto;
        height: auto;
        margin: 0 auto 24px;
        display: block;
    }
    .iWrPCB {
        font-size: 1.4285714285714286em;
        font-style: inherit;
        line-height: 1.2;
        color: #172B4D;
        font-weight: 500;
        -webkit-letter-spacing: -0.008em;
        -moz-letter-spacing: -0.008em;
        -ms-letter-spacing: -0.008em;
        letter-spacing: -0.008em;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .fNDTBH {
        color: #172B4D;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .bfqexM {
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        // padding-left: 0px;
        margin-bottom: 8px;
        padding-bottom: 20%
    }
    .css-vxcmzt {
        display: inline-flex;
    }
    .css-z25nd1 {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        display: flex;
    }
    // .bOGslK{
    //     height: -webkit-fill-available;
    // }
    .release-report-tab-header {
        .release-report-tab {
            display: inline-block;
            list-style: none;
            margin: 0 20px;
            .tab-count {
                // color: #172b4d;;
                display: inline-block;
                font-size: 40px;
            }
            .tab-label {
                display: inline-block;
                line-height: 1.3;
                margin-left: 5px;
            }
        }
    }
}
