.loader {
  height: 415px;
  // width: 100%;
  background-color: rgb(197, 195, 195);
  transition: 1000ms ease-in-out;
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.react-datepicker-wrapper {
  div {
    input {
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      color: #555;
    }
  }
}

.profile-img-container {
  position: relative;
  display: inline-block; /* added */
  overflow: hidden; /* added */
}

.profile-img-container img {
  width:40%;
  // height: 40%;
} /* remove if using in grid system */


.profile-img-container img:hover {
  opacity: 0.5
}
.profile-img-container:hover a {
  opacity: 1; /* added */
  top: 0; /* added */
  z-index: 500;
}
/* added */
.profile-img-container:hover a span {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 3em;
  transform: translateY(-50%);
}
/* added */
.profile-img-container a {
  display: block;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: inherit;
}