#backlog-view {
    .ul-style {
        position: relative;
        z-index: 0;
        border: 1px solid #efefef;
        border-radius: 3px;
        outline: none;
        width: 400px;
        height: 600px;
        overflow: auto;
        list-style-type:none
    }
    .m-b-5 {
        margin: 5px;
    }
    .m-b-1{
        margin: 1px;
    }
    .description{
        width: 100%;
        height: 200px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #dddddd;
        padding: 10px;
    }
    .color-black {
        color: #172b4d;
    }
    .pd-0{
        padding: 0px;
    }
    .m-b-0{
        margin-bottom: 0px;
    }
    .summary{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 50px;
    }
    .p-r-0{
        padding-right: 0px;
    }
    .p-l-0{
        padding-left: 0px;
    }
    .m-l-m15{
        margin-left: -15px;
    }
    .height-fill {
        height: -webkit-fill-available;
    }
    .scroll-detail{
        overflow: auto;
        height: inherit;
    }
    .email{
        cursor: pointer;
    }
    .img-activity{
        width: 20px !important;
        height: auto !important;
        float: left !important;
    }
    .comments-conf{
        background: transparent;
    }
    .top-0{
        top: 0px;
    }
    .pointer{
        cursor: pointer;
    }
    .li-style {
        
    }
    .p-l-0{
        padding-left: 0px;
    }
    .m-l-10{
    margin-left: 10px;
    }

    .p-lr {
        padding-left: 8px;
        padding-right: 8px;
    }
    .p-bt{
        padding-top: 14px;
        padding-bottom: 7px;
    }
    .bug-red{
        color: red;
    }
    .story-green{
        color: green;
    }
    .icon-issue{
        padding-right: 5px;
    }
    .create-sprint {
        width: 100%;
        display: inline-block;
    }
}